@use 'sass:color';

@use '@material/image-list/index' as image-list;

main {
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "gallery pane";

  @media (max-width: 599px) {
    grid-template-rows: auto 1fr;
    grid-template-areas: 'pane' 'gallery';
  }

  --border-color: color.adjust(#ffffff, $alpha: -0.8);

  section.gallery {
    grid-area: gallery;
    width: 100%;
    overflow: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    @media (max-width: 599px) {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  
    .imageContainer {
      position: relative;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: filter 0.2s ease-in-out;
      }

      img.selected {
        filter: brightness(0.7);
      }
  
      div.checkbox {
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.3s ease-in-out;
      }

      div.checkbox.hidden {
        opacity: 0;
      }
    }
  
    .imageContainer:hover > div.checkbox {
      opacity: 1;

      div.mdc-checkbox__background {
        border-color: var(--border-color) !important;
      }
    }
  }

  aside.pane {
    grid-area: pane;
    width: clamp(20vw, 500px, 33vw);
    color: #ffffff;

    .imageContainer {
      position: relative;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: filter 0.2s ease-in-out;
      }

      .imageOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: color.adjust(#000, $alpha: -0.7);

        opacity: 1;
        transition: opacity 0.1s ease-in-out;

        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-size: 3rem;
          width: 1.5em;
          height: 1.5em;
          background-color: #ffffff28;
          border-radius: 50%;
        
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .imageOverlay.hidden {
        opacity: 0;
      }

      .closeButton {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: #00000028;
        border-radius: 50%;
      }

    }
  }
}
