@use 'src/theme/variables.scss' as *;

@use '@material/theme/index' as mui with (
  $primary: $primary,
  $secondary: $secondary,
  $surface: $surface,
  $background: $background,
  $error: #d32f2f
);

@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap);

html,
body,
textarea {
  font-family: 'Lato', Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: $background;
  color: $text;
}

a {
  color: #40b3ff;
}
