@use 'src/theme/variables.scss' as *;

@use '@material/theme/index' as mui with (
  $primary: $primary,
  $secondary: $secondary,
  $surface: $surface,
  $background: $background,
  $error: #d32f2f
);

// global styles
html,
body {
  font-family: 'Roboto';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;

  background-color: $background;
  color: $text;
}

a {
  color: #40b3ff;
}

a:visited {
  color: #3e92c9;
}
