$primary: #462523;
$secondary: #2b2b2b;
$surface: #272225;
$on-surface: #241312;
$background: #251a1d;
$text: #ffffff;
$success: #388e3c;
$warning: #ffa726;
$error: #d32f2f;

$mobile: 'max-width: 599px';
$desktop: 'min-width: 600px';
